
  <nav class="container">
    <div class="panel-heading nav-styles">
      <a routerLink="/homepage" routerLinkActive="active" >Homepage</a>   
      <a routerLink="/register" routerLinkActive="active">Register</a>
      <a routerLink="/booking">Booking</a> 
      <a routerLink="/quatation">Generate Quatation</a>
                      
    </div>
     <!-- <nav id="navbar">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav> -->
  </nav>

<router-outlet></router-outlet>
