/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: #1b1b1d;
}
.nav-styles{
    background-color: #161618;
}
.nav-styles a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size : 18px;
    
}
.nav-styles a:hover {
    color: #c9c9c9;
}
.nav-link.active {
    color: #e64758 !important;
}
