<div class="card container form-container">
        <h1>Register</h1>
        <div>
            <form (ngSubmit)="onSubmit()" #registerForm = "ngForm">
                <div class = "form-group">
                    <label for= "licenseNumber">LisenceNumber</label>
                    <input type = "number"
                            class="form-control"
                            id="lisenceNumber"
                            placeholder="6856225852"
                            required
                            name = ""
                            #lisenceNumber = 'ngModel'
                            [(ngModel)]= "customers.lisenceNumber"
                    >
                </div>
                
                
                <!--<div [hidden]="lisenceNumber.valid 
                    || lisenceNumber.pristine"
                    class ='alert alert-danger'
                    >
                        Lisence Number is required
                </div>-->
                <div class = "form-group">
                    <label for= "firstName ">First Name</label>
                    <input type = "text"
                            class="form-control"
                            id="firstName "
                            placeholder="Bill"
                            required
                            name = ""
                            #firstName  = 'ngModel'
                            [(ngModel)]= "customers.firstName "
                    >          
        
                </div>
                
                <div class = "form-group">
                    <label for= "surname">Last Name</label>
                    <input type = "text"
                            class="form-control"
                            id="surname"
                            placeholder="Gates"
                            required
                            name = ""
                            #surname = 'ngModel'
                            [(ngModel)]= "customers.surname"
                    >
                </div>
                <div>
                    <input type="radio" 
                            name="gender" 
                            value="male" 
                            checked> Male<br>
                    <input type="radio" name="gender" value="female"> Female<br>
                </div> 
                <h3>Vehicle Details</h3>
                
                <div class = "form-group">
                    <label for= "regNumber">Registration Number</label>
                    <input type = "number"
                            class="form-control"
                            id="regNumber"
                            placeholder="6856225852"
                            required
                            name = ""
                            #regNumber = 'ngModel'
                            [(ngModel)]= "customers.regNumber"
                    >
                </div>
                <div class = "form-group">
                    <label for= "Make">Make</label>
                    <input type = "text"
                            class="form-control"
                            id="Make"
                            placeholder="Madza"
                            required
                            name = ""
                            #Make = 'ngModel'
                            [(ngModel)]= "customers.Make"
                    >             
            
                </div>
                <div class = "form-group">
                    <label for= "Model">Model</label>
                    <input type = "text"
                            class="form-control"
                            id="Model"
                            placeholder="B250"
                            required
                            name = ""
                            #Model = 'ngModel'
                            [(ngModel)]= "customers.Model"
                    >
                </div>
        
                <!--<div class="col-xs-8">
                    <input type="text" style="width: 300px" class="form-control" required
                        [(ngModel)]="customers.firstName" name="">
                </div>-->
        
        
                <button type="submit"
                    class="btn btn-outline-info btn-lg"
                >            
                    Submit Registration
                </button>
                
                <!--
                    <input type="submit" value="Create" />
                <button type="submit"
                    class="btn btn-outline-info btn-lg"
                    [disabled]="!registerForm.form.valid"
                    [hidden]= "submitted"
                >            
                    Submit Registration
                </button>
                -->
            </form>
        
        </div>    
</div>

